* {
  margin: 0;
  padding: 0;
}


body {
  font-family: sans-serif;
  user-select: none;
}


$gradient: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);


.wrapper {
  width: 315px;
  height: 75px;
  margin: 100px auto 0;

  .button {
    width: 100px;
    height: 35px;
    margin-right: 5px;
    border: 0;
    background: $gradient;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }

  .localStorage-button {
    width: 310px;
    margin-top: 6px;
  }

  .li {
    width: 304px;
    margin-bottom: 5px;
    padding: 3px;
    color: white;
    cursor: pointer;
    list-style: none;
  }

  .li:first-child {
    margin-top: 6px;
  }
}


.form {
  display: flex;
  margin-bottom: 5px;

  .input {
    width: 210px;
    height: 35px;
    border: 0;
    background-color: #94a7eb;
    color: white;
  }
}
